*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 2px solid red;
}

body{
  font-family: Georgia, 'Times New Roman', Times, serif;
}

/* HEADER */
header{
  /* position: fixed;
  z-index: 999;
  top: 0%;
  left: 0%; */
  height: 60px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

header ul{
  display: flex;
  justify-content: space-between;
  padding: 15px;
  gap: 15px;
}

ul, a{
  text-decoration: none;
  list-style: none;
}

a{
  color: grey;
}

.bt{
  padding: 5px 10px;
  background-color: rgb(3, 112, 255);
  color: white;
}

/* JUMBOTRON */
.jumbotron{
  height: 600px;
  background-color: #b4d0e7;
}

.box-jumbo{
  display: flex;
  width: 65%;
  height: 400px;
  position: relative;
  left: 200px;
  bottom: 190px;
}

.tit-jumbo{
  width: 65%;
  height: 200px;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 25px;
  margin-bottom: 15%;
  padding: 35px;
  position: relative;
  left: 200px;
}

.main-jumbo{
  width: 30%;
  height: 400px;
}

.img-jumbo img{
  height: 450px;
  width: 600px;
}

/* MAIN */
.container {
  width: 1200px;
  background-color: aquamarine;
  margin: 0 auto;
}

.sottotitolo-main{
  margin-top: 100px;
  margin-right: 8%;
  font-size: 25px;
}

.radio{
  padding: 30px;
  letter-spacing: 5px;
  font-size: small;
}

.column-container{
  display: flex;
}

.col{
  width: calc(100% / 3);
  padding: 50px;
}


.orizzontale{
  display: flex;
  
}

.orizzontale-1{
  width: 70%;
}

.orizzontale-2{
  width: 30%;
}
