*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* outline: 2px solid red; */
}

body{
  font-family: Georgia, 'Times New Roman', Times, serif;
}

/* HEADER */
header{
  /* position: fixed;
  z-index: 999;
  top: 0%;
  left: 0%; */
  height: 60px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

ul{
  display: flex;
  justify-content: space-between;
  padding: 15px;
  gap: 15px;
}

ul, a{
  text-decoration: none;
  list-style: none;
}

a{
  color: grey;
}

.bt{
  padding: 5px 10px;
  background-color: rgb(3, 112, 255);
  color: white;
}

/* JUMBOTRON */
.jumbotron{
  /* display: flex;
  justify-content: center;
  align-items: center; */
  height: 600px;
  background-color: #b4d0e7;
}

.box-jumbo{
  display: flex;
  width: 65%;
  height: 400px;
  /* background-color: green; */
  position: relative;
  left: 200px;
  bottom: 190px;
}

.tit-jumbo{
  width: 65%;
  height: 200px;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 25px;
  margin-bottom: 15%;
  padding: 35px;
  position: relative;
  left: 200px;
}

.main-jumbo{
  width: 30%;
  height: 400px;
}

.img-jumbo img{
  height: 450px;
  width: 600px;
}

/* .main-jumbo{
  font-size: 12px;
  font-weight: lighter;
} */

