*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* outline: 2px solid red; */
}

body{
  font-family: Arial, Helvetica, sans-serif;
}

/* HEADER */
header{
  position: fixed;
  z-index: 999;
  top: 0%;
  left: 0%;
  height: 60px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
}

header ul{
  display: flex;
  justify-content: space-between;
  padding: 15px;
  gap: 15px;
}

ul, a{
  text-decoration: none;
  list-style: none;
}

a{
  color: grey;
}

.container a{
  color: white;
}

.bt{
  padding: 5px 10px;
  background-color: rgb(3, 112, 255);
  color: white;
}

/* JUMBOTRON */
.jumbotron{
  margin-top: 60px;
  height: 600px;
  background-color: #b4d0e7;
}

.box-jumbo{
  display: flex;
  width: 65%;
  height: 400px;
  position: relative;
  left: 200px;
  bottom: 190px;
}

.tit-jumbo{
  width: 65%;
  height: 200px;
  font-size: 25px;
  margin-bottom: 15%;
  padding: 35px;
  margin-left: 150px;
}

.main-jumbo{
  width: 40%;
  margin-left: -10px;
}

.img-jumbo img{
  height: 100%;
  width: 100%;
}

.img-jumbo{
  width: 100%;
  margin-bottom: -60px;
}

.main-jumbo p{
  padding-bottom: 20px;
}

.main-jumbo .bt{
  margin-bottom: 20px;
}

/* MAIN */
.container {
  width: 900px;
  /* background-color: aquamarine; */
  margin: 0 auto;
}

.sottotitolo-main{
  margin-top: 100px;
  margin-right: 8%;
  font-size: 25px;
}

.radio{
  padding: 30px;
  letter-spacing: 5px;
  font-size: small;
}


.column-container{
  display: flex;
  justify-content: space-between;
  /* margin-left: -35px; */
}

.col{
  width: 30%;
  padding: 40px;
  outline: 1px solid gray;
}


.orizzontale{
  display: flex;
  outline: 1px solid gray;
  margin-top: 25px;
  padding: 25px;
  
}

.orizzontale-1{
  width: 70%;
}

.orizzontale-2{
  width: 30%;
}

.box{
  display: flex;
  padding-top: 100px;
}

.main-img{
  width: 100;
}
 .main-img img{
  width: 500px;
  height: 100%;
 }

 .main-paraf{
  width: 50%;
  padding-left: 50px;
  padding-top: 50px;
 }

 .tit-main-paraf{
  width: 40%;
  font-size: 20px;
  padding-bottom: 20px;
 }

 .bt-main-paraf{
  padding: 8px;
  margin-top: 20px;
 }

 /* .immagini{
  display: flex;
 } */

 .col-immagini{
  width: calc(100% / 3);
  padding: 50px;
  background-color: burlywood;
 }